@media (max-width : 1679px) {
  .wrapper {
    zoom: 0.8;
  }
}

@media (max-width : 1365px) {
  .wrapper {
    zoom: 1;
  }
  .head__logo {
    width: 183px;
  }
  .head__phone-txt {
    font-size: 12px;
  }
  .head__conts-phone {
    font-size: 16px;
  }
  .head__conts {
    gap: 26px;
    margin-left: 24px;
  }
  .head__addres {
    font-size: 12px;
  }
  .head__btn-w {
    margin-left: 21px;
  }
  .head__btn-w {
  }
  .mn__ul ul li a {
    font-size: 16px;
  }
  .vid__l h1 {
    font-size: 40px;
  }

  .vid__txt {
    font-size: 23px;    
    margin-bottom: 29px;
  }
  .vid__ul {
    ul {
      gap: 18px;
    }
    li {
      font-size: 14px;      
    }
  }
  .vid__ul li:before {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-size: cover;
  }
  .vid__btn-w {    
    flex-direction: column;
    max-width: 400px;
  }
  .vid__r {
    margin-left: 0;
  }
  .vid__l {
    padding-top: 0px;
  }

  .btn,
  .btn-wh,
  .btn-o {
    height: 50px;
    font-size: 14px;
    border-radius: 16px;
  }
  .s-sform__form-w {
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="text"] {
      height: 50px;
      margin-bottom: 10px;
      border-radius: 16px;
    }    
  }
  .vid__play-btn {
    font-size: 17px;
    padding: 15px 43px;    
    border-radius: 25px;
  }
  .advants__item p {
    font-size: 16px;
  }
  .advants__w {
    gap: 20px;
  }
  .section {
    padding: 32px 0;
  }
  h2, .h2 {
    font-size: 36px;
    margin-bottom: 36px;
  }
  .serv__w {
    gap: 20px;
  }
  .serv__item {
    gap: 20px;
    min-height: 300px;
  }
  .serv__name {
    font-size: 19px;
  }
  .serv__price {
    font-size: 17px;
  }
  .mabout__w {
    padding: 67px 60px 85px;
    gap: 30px;
  }
  .mabout__more,
  .mabout__txt {
    font-size: 16px;
  }
  .gal__wrap:before {
    width: 604px;
    height: 442px;    
    background-size: cover;
  }
  .why__row {
    gap: 20px;
  }
  .why__title {
    font-size: 16px;
  }
  .why__txt {
    font-size: 14px;
  }
  .why__item {
    padding: 25px 25px 15px;
  }
  .why__icon {
    margin-bottom: 14px;
  }
  .gal-sl .slick-slide {
    padding: 0 55px;
  }
  .s-gal {
    margin-bottom: 0;
  }
  .s-sform__img {
    display: none;    
  }
  
  .f-row__2 {
    padding-bottom: 50px;
  }
  .how-contacts {
    padding: 30px;
  }
  .m-mnu__title {
    margin-bottom: 22px;
  }
  .how__img {
    border-radius: 60px 16px;
    width: 100%;
    aspect-ratio: 1.875 / 1;    
    height: auto;
  }
  .how__title {
    font-size: 18px;
  }
  .how__text {
    font-size: 16px;
  }
  .how__title:before {
    font-size: 14px;
    margin-right: 12px;
  }
  .promo-item__img {
    width: 100%;
    aspect-ratio: 1.608 / 1;
    height: auto;
    margin-bottom: 20px;
  }
  .promo-item__link {
    font-size: 24px;
  }
  .promo-item__date {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .rev-sl__text {
    font-size: 16px;
  }
  .accordion-content {
    font-size: 16px;
  }
  .vid__r-img {
    max-height: calc(100% - 100px);
  }
  .vid__w {
    min-height: unset;
  }
  .mn__ul ul li a {
    font-size: 14px;
  }
  .mn__ul ul {
    gap: 15px;
  }
  .mn__ul ul li.has-child i.mnu-arrow {
    top: -1px;
  }
  .rate__item {
    padding: 10px 40px;
  }
  .rate__info span {
    font-size: 28px;
    padding-left: 43px;
    background-size: 35px;
  }
  .doctor__card-w {
    flex-direction: column;
  }            
  .doctor__card-w {
    gap: 24px;
  }
  .doctor__vid {
    border-radius: 60px 16px;
    aspect-ratio: 1.24137 / 1;
    width: 100%;
  }
  .about__w {
    gap: 30px;
  }
  .rev-sl .slick-arrow {
    right: calc((100% - 1160px) / 2);
  }
  .doctors__sl {
    .doctors-item__img-w {
      padding-top: 0;
    }
    .slick-track {
      padding-top: 0;
    }
  }
  .bread {
    margin: 20px 0;
  }
  .anchors ul li a {
    font-size: 16px;
  }
  .s-sform__bg--l {    
    padding: 60px 100px 0px 80px;
    border-radius: 142px 36px 36px 36px;
    margin-top: 0;
  }
  .s-sform__bg--l .s-sform__content {
    margin-left: 0;
  }
  .see-also__w {    
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .distr__w {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .main-lanidig .vid__l h1 {
    font-size: 36px;
  }
  .main-lanidig .vid__ul li {
    font-size: 14px;
  }
  .main-lanidig .vid__ul ul {
    gap: 18px;
  }
  .promo__list {    
    grid-template-columns: repeat(2, 1fr);    
  }
  .contacts__card {
    max-width: 480px;
    width: 100%;
  }
  .tabs__list-item {
    white-space: nowrap;
  }
  .s-sform__img-3 {
    display: none;
  }
  .s-sform__grid {
    padding-bottom: 87px;
  }
  .s-sform__bg-3 {
    min-height: unset;
  }
  .about__w {    
    flex-direction: column;
  }
  .col__l {
    width: 100%;
  }
  .col__r {
    width: 100%;
  }

  .col__l--doc {
    display: none;
  }
  .news-blog__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .reviews-page__list {
    display: flex;    
    flex-direction: column;
    .rev-sl__slide {
      width: 100%;
    }
  }
  .interest {
    padding: 30px 40px 49px;
  }
  .respon__r {
    .how-contacts {
      max-width: 100%;
      min-height: auto;
    }  
  }
  .text-page h1, .news-list__page h1 {
    font-size: 42px;
  }
  .fam__txt {
    font-size: 20px;
  }
  .row {
    gap: 30px;
  }
}//1365

@media (min-width: 1200px) and (max-width: 1365px) {
  .head__btn-w {
    .btn,
    .btn-o {
      height: 40px;
      font-size: 13px;
      border-radius: 10px;
    }  
  }
}

@media (max-width : 1199px) {  
  .burger-w {
    display: flex;    
    align-items: center;    
    justify-content: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.17;
    color: #fff;
    background: none;  
    border: 1px solid #244b7f;
    border-radius: 14px 8px;
    width: 36px;
    height: 36px;
    margin-left: 0px;

  }

  .burger {
    background: url("../img/burger.svg") no-repeat center;
    width: 24px;
    height: 24px;    
    &.burger-open {
      background: url("../img/burger-close.svg") no-repeat center;
    }
  }

  header {
    position: relative;
  }
  .header__col {
    position: absolute;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    right: 0;
    padding: 20px 0;
    transition: 0.5s;
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    z-index: 14;
    transform: translateX(150%);
    height: 100svh;
    overflow-y: auto;
    
  }
  .top__mnu {
    padding-top: 0;
  }
  .mn__ul ul {  
    align-items: flex-start;    
    flex-direction: column;
  }
  .header__col.open {
    border-top: 1px solid rgb(246, 246, 246);
    transform: translateX(0);
  }

  .head__socs-2 {
    display: flex;    
    align-items: center;
    margin-top: 17px;
    gap: 10px;
  }
  .top-mnu__scroll {
    display: flex;    
    flex-direction: column;
  }
  
  .head__socs a:nth-child(1),
  .head__addres,
  .head__phone-txt {
    display: none;
  }
  .top__mnu {
    margin-bottom: 31px;
  }
  .head__btn-w {
    margin-left: 0;
    margin-bottom: 20px;
    gap: 10px;
  }
  .head__btn-w .btn,
  .head__btn-w .btn-o {
    padding: 0 20px;
    font-size: 13px;
    width: calc(50% - 5px);
    white-space: nowrap;
    font-weight: 400;
  }
  .mn__ul ul li a {
    display: inline-flex;
    height: 42px;
    font-size: 12px;    
    align-items: center;
  }
  .mnu-mob__item {
    + .mnu-mob__item {
      margin-top: 17px;
    }
    p {
      font-weight: 400;
      font-size: 13px;
      line-height: 1.17;
      color: #2b3037;
      margin-bottom: 3px;
    }
    a,
    span {
      font-weight: 700;
      font-size: 15px;
      line-height: 1.17;
      color: #121820;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .head__conts {
    margin-left: auto;  
    margin-right: 5px;
    gap: unset;
  }
  .head__r {
    margin-left: unset;
  }
  .head__conts-phone {
    font-size: 0;    
    border-radius: 14px 8px;
    width: 36px;
    height: 36px;
    flex: none;
    background: #d2252e url("../img/phone-mob.svg") no-repeat center;

    
  }

  .vid__l h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .vid__txt {
    font-size: 18px;
  }
  .vid__btn-w {
    margin-top: 37px;
  }
  .vid__l {
    padding-bottom: 30px;
  }
  .vid__r-img {
    max-height: calc(100% - 50px);
  }
  .advants__item {
    min-height: 187px;
    padding: 20px;
    gap: 18px;
  }
  .advants__item p {
    font-size: 14px;
  }  
  .advants__w {
    gap: 15px;
  }
  .serv__w {    
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
  }

  .mabout__img {
    border-radius: 60px 12px;    
  }
  .mabout__w {
    display: flex;
    flex-direction: column;
    border-radius: 80px 16px;
    padding: 20px;
    gap: 22px;
  }
  h2, .h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .mabout__cont .h2, .mabout__cont h2 {
    margin-bottom: 20px;
  }
  .why__row {
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
  }
  .gal-sl .slick-slide {
    padding: 0 43px;
  }
  .gal-sl__slide {
  }
  .gal-sl .slick-slide.slick-center img {
    width: 100%;
    height: 100%;
  }
  .gal-sl__slide {
    aspect-ratio: 1.384 / 1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .gal-sl .slick-slide {
    padding: 0 13px;
  }
  .gal-sl {
    width: calc(180%);
    margin-left: -40%;
  }
  .gal-sl {
    .slick-prev {
      left: 24%;
    }
    .slick-next {
      right: 24%;
    }
  }
  .gal-sl .slick-slide.slick-center .gal-sl__slide::before {
    width: 100%;
    height: 100%;
    
  }
  .s-sform__bg {
    margin-top: 0;
  }
  .gal-sl .slick-track {
    padding: 50px 0;
  }
  .s-sform__content {
    width: 50%;
    margin-right: 0px;
  }
  .s-sform__bg {        
    border-radius: 16px 16px 80px 16px;
    padding: 50px;
    min-height: unset;
    gap: 15px;
  }
  .s-sform__form-w {    
    flex: 1 1 50%;
  }
  .s-sform__title {
    font-size: 27px;
  }
  .s-sform__geo {
    font-size: 18px;
  }
  .sform__info-tel {
    font-size: 27px;
  }
  .sform__info p {
    font-size: 16px;
  }
  .sform__info {
    margin-bottom: 28px;
  }
  .s-sform__form-w,
  .s-sform__content {
    padding-bottom: 0;
  }
  .doctors__sl .slick-arrow {
    top: -70px;
    zoom: 0.7;
  }
  .doctors-item__img img {
    max-width: calc(100% - 30px);
  }
  .doctors-item__img {
    aspect-ratio: 1.6744 / 1;
    height: auto;
    width: 100%;
  }
  .doctors-item__name {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .doctors-item__dol {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .free,
  .doctors-item__cons {
    font-size: 14px;
  }
  .subtitle {
    font-size: 18px;
  }
  .how__list {
    margin-top: 30px;
  }
  .how__list {    
    gap: 15px;
  }
  .how-contacts__title {
    font-size: 20px;
  }
  .how-contacts__info p {
    font-size: 15px;
  }
  .how-contacts__info-tel {
    font-size: 24px;
  }
  .lic-sl {
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .lic-sl > a {
    display: flex;    
    justify-content: center;
    width: unset;
    height: auto;
    img {
      width: 100%;
      aspect-ratio: 0.71337 / 1;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(2) {
      /*width: auto;
      height: auto;*/
    }

  }
  .lic-sl {    
    max-width: 100%;
    padding: 0 75px;
  }
  .accordion-item {
    padding: 20px 0;
  }
  .s-smap {
    margin-top: 40px;
  }
  .smap-contacts {
    margin-right: 0;
  }
  .f-row__2,
  .f-row__1 {    
    align-items: flex-start;
    display: flex;    
    flex-direction: column;
  }
  .m-mnu__title {
    &:empty {
      margin: 0;
    }
    min-height: unset;
  }
  .copyright__text {
    font-size: 19px;
    margin-bottom: 26px;
  }

  .dev,
  .copy {
    font-size: 16px;
  }
  .copyright {
    padding: 40px 0;
  }
  .accordion-header {
   padding-right: 44px; 
 }
 .top__row {
  border: none;
}
.show-1199 {
  display: block;
}
.top__line {
  background-color: #E8EDF6;
  padding: 5px 0;
  width: 100%;
  margin-bottom: 22px;  
}
.top__line-w {
  display: flex;
  align-items: center;
}
.top {
  border-bottom: 1px solid #f6f6f6;
  padding: 0 0 22px 0;

}
.top-line__week {
  margin-right: 11px;
  display: inline-flex;  
  justify-content: center;
  align-items: center;  
  flex: none;
  border-radius: 5px 2px;  
  height: 14px;
  padding: 0 6px;  
  height: 14px;  
  background: #d2252e;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.17;
  color: #fff;
}
.top-line__tel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: #000;  
  &:hover {
    text-decoration: none;
  }
}
.top-line__txt {
  font-weight: 700;
  font-size: 10px;
  line-height: 1.17;
  color: #121820;
}

.top-line__geo {
  margin-left: auto;
  display: inline-flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.17;
  color: #000;
}
.top-line__tel2-w {
  margin-left: 11px;
  display: flex;  
  flex-direction: column;
  span {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.17;
    color: #121820;
  }
}
.top-line__tel2 {
 font-weight: 700;
 font-size: 16px;
 line-height: 1.17;
 color: #d2252e; 
}
.doctors-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.s-doctors-form .s-sform__bg {
  margin-top: 80px;
}
.eye {
  display: none;
}
.burger-w {
  margin-left: 7px;
}
.mn__ul ul li.has-child i.mnu-arrow {
  height: 100%;
}
.mn__ul ul {
  padding-right: 0;
  li {
    width: 100%;
  }
}
.top-saerch {
  display: none;
}
.rate__row {  
  display: flex;
  flex-direction: column;
}
.rate__item {
  width: 100%;
}

.col__r {
  width: 100%;
}
.vid-with__sl .vid-with__img-w {
  height: 203px;
}
.doctor__vid-play {  

}
.rev-sl .slick-arrow {
  right: calc((100% - 957px) / 2);
}
.doctors__sl .slick-arrow {
  top: -100px;
}
.all-more--arrows {
  margin-right: 111px;
}
.s-anchors {
  .cpadding {
    padding-right: 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-right: 20px;
    .anchors {
      width: 1300px;  

    }
  }
}
.faq1__accordion-container .accordion-header:before {
  border-radius: 20px 8px;
  width: 49px;
  height: 49px;
  background-size: 15px;
}
.faq1__accordion-container .accordion-header {
  font-size: 36px;
}
.import__title {
  font-size: 23px;
}
.plus-minus__min,
.plus-minus__pl,
.plus-minus__crit,
.import p,
.uses__quote,
.content thead td, .accordion-content thead td,
.content tbody td, .accordion-content tbody td,
.content td, .accordion-content td {
  font-size: 16px;
}
.vid__prices--2 {  
  flex-direction: column;          
  align-items: flex-start;
}
.get__w {  
  flex-direction: column;
}
.s-sform__row {  
  flex-direction: column-reverse;
}
.s-sform__row-2 form,
.s-sform__row-2 {  
  flex-direction: column;
}
.s-sform__row-2 button, .s-sform__row-2 input[type="submit"],
.s-sform__row-2 input[type="text"],
.s-sform__row-2 form {
  width: 100%;
}
.s-sform__bg-3 {
  padding: 32px 25px 52px 25px;
  border-radius: 16px 16px 80px 16px;
}
.s-sform__grid {
  padding-bottom: 0;
  margin-right: 0;
}
.sform-row__info {
  margin-top: 13px;
  text-align: left;
  width: 100%;
}
.sform__info-2,
.s-sform__title-2,
.sform-row__txt {
  text-align: center;
}
.sform__info-2 {
  background: none;
  color: #FFF;  
}
.sform__info-2 span,
.sform__info-2 .sform__info-tel {
  color: #FFF;
  width: 100%;
  text-align: center;
  display: block;
}
.sform__info-2 {
  height: auto;
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
  background: none;  
  justify-content: center;
}
.sform__info-2:before {
  display: none;
}
.s-sform__row-2 form {
  gap: 10px;
}
.s-sform__row,
.s-sform__grid {
  gap: 27px;
}
.s-sform__title-2 {
  margin-bottom: 18px;
}
.home-vis ul li a {
  font-size: 18px;
}
.form-vac__left {
  width: 100%;
}
.sform-row__txt {
  text-align: left;
}
.respon__w {  
  flex-direction: column;
  gap: 64px;
}
.respon__r {
  width: 100%;
}
.gal-list {  
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.respon__l {
  width: 100%;
}
.row {    
  flex-direction: column;
  padding-top: 0;
}
.methods__advs {
  display: none;
}
.col-r {
  .how-contacts {
    max-width: 100%;
    margin-bottom: 25px;
  }
}
}//1199

@media (max-width : 991px) {
  .vid__w {    
    flex-direction: column;
  }
  .vid__l,
  .vid__r {
    width: 100%;
  }
  .vid__r-img {
    position: static;
  }
  .vid {
    padding-top: 30px;
  }


  .vid__btn-w {
    max-width: 100%;
  }

  .advants__w {    
    grid-template-columns: repeat(2, 1fr);
  }
  .advants__item {    
    background-size: 130px;
  }
  .serv__item {    
    padding: 20px;
    gap: 35px;
    min-height: 136px;
    border-radius: 16px !important;    
    justify-content: space-between;

  }
  .serv__name {
    font-size: 18px;
  }
  .serv__price {
    font-size: 14px;
  }
  .serv__w {     
    grid-template-columns: repeat(2, 1fr);
  }
  .why__row {
    background: #e8edf6;
    border-radius: 16px;
    gap: unset;
    display: flex;    
    flex-direction: column;
    padding: 15px 20px;
    gap: 15px;
  }
  .why__item {
    width: 100%;
    padding: 0;
    background: none !important;    
    min-height: unset;
  }
  .why__title {
    color: #000 !important;    
  }
  .why__txt {
    color: #121820 !important;    
  }
  .why__icon {
    path {
      fill: var(--main-blue);
    }
  }
  .s-gal {

  }
  .doctors-item__img {    
    border-radius: 60px 16px;
  }
  .doctors-item__opyt {
    font-size: 12px;
    bottom: 15px;
    left: 15px;
    height: 27px;
    padding: 0 10px;
  }
  .how__list {
    display: flex;    
    flex-direction: column;
  }
  .how__item {
    width: 100%;
  }
  .how__img {
    border-radius: 60px 16px;
    max-height: 192px;
    margin-bottom: 20px;
  }
  .how-contacts {
    width: 100%;
    max-width: 100%;
    border-radius: 16px 16px 80px 16px;
    min-height: unset;    
  }
  .promo-item__link {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .promo-item__date {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .promo__row {    
    gap: 15px;
  }

  .lic-sl {  
    padding: 0 15px;           
    
    gap: 15px;
  }
  .s-smap {
    height: 437px;
  }
  .smap__inn {
    display: none;
  }
  .show-991 {
    display: block;
  }  
  .footer {
    padding-top: 24px;
  }
  .f-row__2, .f-row__1 {    
    flex-wrap: wrap;
    flex-direction: row;
  }
  .foot__title-pda {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #0b0e12;    
  }
  .f-row__1 {
    gap: unset;
  }
  .foot__title-pda {
    order: -1;
    margin-bottom: 15px;
  }
  .f-col {
    width: 100%;
  }
  .f-col--2 {
    order: 0;
    display: flex;
    gap: 36px;    
    margin-bottom: 24px;
  }
  .f-col--4 {
    order: 1;    
    display: flex;    
    align-items: center;
    gap: 12px;
    margin-bottom: 21px;
  }

  .f-col--3,
  .f-col--1 {
    order: 10;   
    width: 48%; 
  }
  
  .f__info-p {
    font-size: 12px;
  }
  .f__info-tel {
    font-size: 20px;
  }
  .f2-col--1,
  .f2-col--3 {
    width: 43%;
  }
  .f-logo {
    height: auto;
  }

  .f2-col--2,
  .f2-col--4 {
    display: none;
  }
  .m-mnu__item + .m-mnu__item {
    margin-top: 9px;
  }
  .vid {
    .vid__l {
      padding-right: calc((100vw - 750px)/2);
    }
  }
  .vid__prices {
    max-width: 100%;
  }
  .doctors-list {
    display: flex;    
    flex-direction: column;
  }
  .rate__row {
    gap: 20px;
  }
  .s-articl-doc {
    .h2__w {    
      flex-wrap: wrap;      
      align-items: flex-end;
      column-gap: 10px;
      .all-more {        
        flex: none;
        white-space: nowrap;
      }
    }
  }
  .nav-block-list__tabs {
    width: 100%;
    margin-left: 0;
    margin-top: 26px;
    .tabs__list {
      margin-left: 0;
      width: 100%;
    }
    .tabs__list-item {
      font-size: 12px;
      padding: 0 20px;
      width: calc(33.333%);
    }
  }
  .articl-doc__scroll {    
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-right: 20px;
  }
  .s-articl-doc {
    .cpadding {
     padding-right: 0; 
   }
   .articl-doc__item {
    width: 359px;    
    flex: none;
  }    
}
.articl-doc__img-w {
  height: 165px;
}
.about__block h2, .about__block .h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about__block p {
  font-size: 16px;
  margin-bottom: 20px;
}
.s-doctor {
  padding-bottom: 50px;
}
.about__block {
  margin-bottom: 40px;
}
.serv-doc__ul li a {
  font-size: 16px;
  height: 40px;
}
.educ-doc__year {
  height: 30px;
  font-size: 14px;
}
.educ-doc {
  font-size: 16px;
}
.certif__item {
  padding-left: 20px;
  padding-right: 20px;
}
.rev-sl .slick-arrow {
  right: calc((100% - 741px) / 2);
}
.slick-arrow {
  display: none !important;
}
.h2__w .btn-o {
  margin-right: 0;
}
.all-more--arrows {
  margin-right: 0;
}

.s-anchors .cpadding .anchors {
  width: 790px;
}
.anchors ul {
  gap: 80px;
}
.faq1__accordion-container .accordion-header {
  font-size: 31px;
}
.accordion-content ul li {
  &:before {
    top: 12px;
  }
}
.uses {
  margin-top: 40px;
}
.uses__name {
  font-size: 16px;
}
.uses__spec {
  font-size: 14px;
}
.uses__doc {    
  gap: 23px;
}
.import__title {
  margin-bottom: 20px;
}
.doctors-item__img-w {
  border-radius: 60px 16px;
}
.f-col--4 {
  .btn-100 {
    width: auto;
  }
}
.promo__list {
  display: flex;    
  flex-direction: column;
}
.promo-ful__info {
  font-size: 20px;
}
.vid__r {
  flex: unset;
}
.get__tabs {
  .h2__w {    
    flex-wrap: wrap;
  }  
}
.get-tabs__list {
  width: 100%;
  margin-left: 0;
  margin-top: 20px;
  .tabs__list-item {
    width: calc(50% - 10px);
  }
}
.contacts__w {
  position: static;            
}
.contacts {
  height: auto;
}
.contacts__map {
  height: 437px;
}
.contacts__card {
  padding: 0;
}
.contacts {
  display: flex;  
  flex-direction: column-reverse;
}
.contacts__w {
  padding-top: 0;
  padding-bottom: 36px;
}
.get__r {
  width: 100%;
}
.get-img__sl {
  .slick-arrow {
    display: block !important;
  }
}
.rev__w {        
  flex-direction: column;
}
.rev__r {
  width: 100%;
}
.home-vis ul li a {
  font-size: 16px;
}
.vac__w {
  display: flex;  
  flex-direction: column;
  gap: 15px;
}
.news-list__tabs {
  .tabs__list {
  } 
}
.tabs__list--scroll {
 -ms-overflow-y: auto;
 overflow-y: auto;  
 scrollbar-width: none;
 -ms-overflow-style: none;
 padding-right: 20px;
}
.s-photogal {
  .cpadding {
    padding-right: 0;
  }
}
.text-page h1, .news-list__page h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.author__w--2 {  
  flex-wrap: wrap;
}
.author__inf {
  margin-left: 0;
  padding-right: 0;
  display: flex;  
  flex-direction: row;
}
.author__inf {
  margin-bottom: 10px;
}
.author__ava-w {
  margin-right: 10px;
}
.author__art-w {
  margin-bottom: 10px;
}
.author__pubs-w {
  .author__pubs {
    gap: 5px;
  }
}
.art-cont ul {    
  gap: 10px;
}
.art-cont ul li a {
  text-decoration: none;
  font-size: 16px;
}
.expand {
  font-size: 16px;
}
.art-cont ul {
  margin-bottom: 23px;
}
.content ul.marker li {
  font-size: 17px;
}
.content blockquote {
  font-size: 17px;
  padding: 30px;
}
ul.docs__list li a {
  font-size: 17px;
}
.text-page > p {
  font-size: 16px;
  margin-bottom: 20px;
}
}//991

@media (max-width : 767px) {
  .vid {
    .vid__l {
      padding-right: calc((100vw - 600px)/2);
    }
  }
  .vid__r-img {
    border-radius: 80px 0 0 16px;
    width: 100%;
    height: 281px;
    object-fit: cover;    
  }
  .mabout__img {
    width: 100%;
  }
  .s-sform__bg {    
    flex-direction: column;
    * {
      width: 100%;
      text-align: center;
    }
  }
  .s-sform__bg {
    padding: 32px 25px;
    gap: unset;
  }
  .s-sform__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .s-sform__geo {
    font-size: 16px;
    margin-bottom: 23px;
  }
  .sform__info p {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .sform__info-tel {
    font-size: 20px;
    margin-bottom: 27px;
  }
  .s-sform__form-w input[type="email"], .s-sform__form-w input[type="tel"], .s-sform__form-w input[type="password"], .s-sform__form-w input[type="text"] {
    text-align: left;
  }
  .doctors__sl .slick-slide {
    padding: 0 8px;
  }
  .doctors__sl {
    width: calc(200% - 46px);    
  }
  .rev-sl {
    padding-left: 8px;
    margin-left: 0;
    width: calc(200% - 86px);
    .slick-slide {
      padding: 0 8px;
    }
  }
  .rev-sl__name,
  .rev-sl__text {
    font-size: 14px;
  }
  .rev-sl__date,
  .rev-sl__about,
  .rev-sl__more {
    font-size: 12px;
  }
  .rev-sl__slide {
    min-height: 281px;
    padding: 23px 20px 27px 20px;    
    border-radius: 16px;
  }
  .rev-sl__wrap:before {
    display: none;
  }
  .rev-sl__wrap {
    padding-bottom: 0;
  }
  .lic-sl {
    padding: 0;
    gap: 12px;
  }
  .articl-doc__w {    
    .articl-doc__item {      
      flex: none;
    }
  }
  .doctors-item__img-w {    

  }
  .doctor__price-w {
    flex-direction: column;    
    align-items: flex-start;
  }      
  .vid-with__sl {
    .vid-with__item {
      width: 360px;    
      flex: none;
    }          
  }
  .doctors__sl .doctors-item__img-w {
    padding-top: 23px;
  }
  .servi-pric__row {    
    flex-direction: column;            
    align-items: flex-start;
    padding: 20px 0;
    gap: 10px;
  }
  .attention__txt {
    font-size: 16px;
    line-height: 1.2;
  }
  .s-sform__bg--l .s-sform__content {
    margin-right: 0;
  }
  .s-sform__form-w {    
    flex: unset;
    max-width: 100%;
  }
  .distr__w a {
    font-size: 18px;
  }
  .see-also__w {
    display: flex;    
    flex-wrap: wrap;
    a {    
      width: 100%;
      height: auto;
      padding: 20px 35px;
      font-size: 16px;
      border-radius: 16px;
      min-height: unset;
    }
  } 
  .distr__w {
    margin-top: 0;
    display: flex;    
    flex-wrap: wrap;
    a {
      min-height: unset;
      padding: 12px 12px 12px 20px;
      width: 100%;
      border-radius: 16px;
    }
  } 
  .distr__w a:after {
    border-radius: 8px 3px;
    width: 36px;
    height: 36px;    
    background-size: 36px;    
  }
  .distr + .distr {
    margin-top: 64px;
  }
  .news-blog__list {
    display: flex;    
    flex-direction: column;
  }
  .home-vis ul {
    columns: 2;
    
  }
  .get__h {
    font-size: 30px;
  }
  .form-vac__bot {    
    flex-direction: column;
  }
  .gal-list {    
    grid-template-columns: repeat(2, 1fr);    
  }
  .s-photogal {
    .tabs__list {
     margin-bottom: 30px; 
   }
 }
 .fam__row {
   -webkit-flex-direction: column-reverse;
   -ms-flex-direction: column-reverse;
   flex-direction: column-reverse;
 }
 .fam__img {
   width: 100%;
   height: 235px;   
   border-radius: 80px 16px;
   img {

   }
 }
 .fam__row {
   gap: 15px;
 }
 .fam {
   padding: 30px;
 }
}//767

@media (max-width : 640px) {
  .vid {
    .vid__l {
      padding-right: calc((100vw - 530px) / 2);
    }
  }  
  .head__logo {
    width: 163px;
  }
  .btn,
  .btn-wh,
  .btn-o {
    font-size: 16px;
    height: 60px;    
    border-radius: 16px;
  }
  .mabout__more,
  .mabout__txt {
    font-size: 16px;
  }
  .serv__w {
    display: flex;    
    flex-direction: column;
  }
  .serv__item {
    width: 100%;
  }
  .f-logo {
    width: 163px;
  }
  .vid__l h1 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .vid__txt {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .vid__ul ul {    
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 12px;
   li {      
    flex-direction: column;      
    align-items: flex-start;
    font-size: 14px;
    line-height: 1.4;
    &:before {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
.show-640 {
  display: block;
}
.hide-640 {
  display: none;
}
.vid__btn-w {
  gap: 12px;
}
.vid__btn-order:before {
  width: 24px;
  height: 24px;  
  background-size: 24px;
}
.vid__play-btn {
  font-size: 0;
  background: none;
  padding: 0;
  
}
.vid__play-btn:before {
  margin-right: 0;
}
.advants__item {  
  background-size: 70px;            
}
.advants__item p {
  letter-spacing: -0.8px;
  font-weight: 500;
}
h2, .h2 {
  margin-bottom: 20px;
}
.serv__w {
  gap: 10px;
}
.mabout__img {
  aspect-ratio: 1.2598 / 1;
}
.mabout__w {  
  background-size: 280px;
}
.mabout__more, .mabout__txt {
  font-size: 14px;
}
.mabout__txt {
  margin-bottom: 12px;
}
.why__title {
  font-size: 14px;
  margin-bottom: 10px;
}
.why__txt {
  font-size: 12px;
}

.btn,
.btn-wh,
.btn-o,
.modal-form__block form input[type="submit"],
.s-sform__form-w button,
.s-sform__form-w input[type="submit"],
.how-contacts form button,
.how-contacts form input[type="submit"] {
  font-size: 14px;
  height: 50px;
  border-radius: 16px;
}

.vid__btn-w {
  .btn,
  .btn-wh,
  .btn-o {
    height: 60px;
    font-size: 16px;
  }
}

.doctors__sl .slick-track {

}
.doctors-item__img img {
  max-width: 360px;
}

.doctors-item__cons,
.doctors-item__dol {
  font-size: 12px;
}
.doctors__btn {
  margin-top: 17px;
}
.doctors__sl .slick-slide {
  padding: 0 4px;
}
.doctors__sl {
  padding-left: 7px;
  width: calc(200% + 16px);
}
.subtitle {
  margin-top: 0;
  font-size: 16px;
}
.s-how {
  .h2, h2 {
    margin-bottom: 7px;
  }
  .h2, h2,
  .subtitle {
    text-align: left;
  }
}
.how-contacts {
  text-align: center;
}
.how-contacts__title {
  font-size: 24px;
  
}
.how-contacts__info p {
  font-size: 12px;
}
.how-contacts__info-tel {
  font-size: 20px;
}
.how-contacts form input[type="text"] {
  height: 50px;
  
}
.how-contacts form input[type="submit"] {
  margin-top: 10px;
}
.promo__row {  
  flex-direction: column;
  display: flex;
}
.promo-item__img {        
  aspect-ratio: 1.508 / 1;
}
.promo__row {
  gap: 24px;
}
.rev-sl__more {
  text-align: left;
  padding-left: 0;
  white-space: nowrap;
}
.rev-sl__about {
  text-align: right;
}
.audio-player__volume {
  margin-left: auto;
}
.s-faq,
.s-lic {
  .h2,
  h2 {
    text-align: left;
  }
}
.accordion-item {
  padding: 19px 0;
}
.accordion-header {
  font-size: 14px;
}
.accordion-content {
  font-size: 12px;
}
.f-col--4 {
  .btn,
  .btn-o {
    padding: 0 10px;
    font-size: 14px;
    white-space: nowrap;
  }
  .btn,
  .show-991 {
    width: calc(50% - 6px); 
    .btn-o {
      width: 100%;
    } 
  }
}
.f__info-adress {
  font-size: 14px;
  padding-left: 13px;
  letter-spacing: -0.8px;
}
.f-col--3 {

}
.f-col--1 {
  margin-right: 12px;
}
.f-row__1 {
  margin-bottom: 29px;
}
.m-mnu__title {
  font-size: 16px;
  margin-bottom: 15px;
}
.m-mnu__item ul li a {
  font-size: 12px;
}
.f-lic {
  font-size: 12px;
}
.f-row__2 {
  padding-bottom: 35px;
}
.copyright__text {
  font-size: 16px;
  margin-bottom: 19px;
}
.dev, .copy {
  font-size: 12px;
}
.dev {
  text-align: left;
}
.copyright {
  padding: 18px 0 24px 0;
}
.how__text {
  font-size: 14px;
}
.gal-sl {
  margin-left: 0;
}
.gal__wrap:before {
  display: none;
}
.gal-sl__slide {  
  aspect-ratio: 0.7725 / 1;
  img {
    border-radius: 80px 16px;
  }
  &:before {

    background-color: transparent; 
    background-size: 60px;
  }
}
.gal-sl {  
  width: calc(200% - 46px);
  padding-left: 15px;
  .slick-track {
    padding-top: 0;
    padding-bottom: 0;
  }
  .slick-slide {
    padding: 0 4px;
    
  }
} 
.modal-close {
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
  border-radius: 0 16px 0 16px;
  background-color: var(--d9d9d9);
  background-position: center;
}
.modal-form__block {  
  border-radius: 16px;
  padding: 40px 30px;
}
.modal-form__block h3, .modal-form__block .h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.modal-form__block form input[type="email"], .modal-form__block form input[type="tel"], .modal-form__block form input[type="password"], .modal-form__block form input[type="text"] {
  height: 50px;
  margin-bottom: 10px;
  border-radius: 16px;
}
.modal-form__block form textarea {
  margin-bottom: 10px;
  border-radius: 16px;
}
.modal-accept {
  font-size: 14px;
}
.bottom__fix {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;  
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px 16px 0 0;
  padding: 11px 16px;      
  gap: 5px;
  z-index: 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  > a {
    display: flex;    
    flex-direction: column;    
    align-items: center;
    gap: 5px;
    height: 58px;
    padding: 8px;
    border-radius: 11px;
    &:hover {
      text-decoration: none;
    }
    &:nth-child(1) {
      background: #d2252e;
    }
    &:nth-child(2) {
      background: var(--main-blue);
    }
    &:nth-child(3) {
      background: #244b7f;
    }
    
    img {
      width: 24px;
      height: 24px;      
      flex: none;
    }
    span {    
     white-space: nowrap;
     font-weight: 500;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: -0.1px;
     text-align: center;
     color: #fff;
   }
 }
}
.gal-sl__slide {      
  position: relative;
  &:before {
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: rgba(#000, 0.3) url("../img/gal-popup-plus.svg") no-repeat center;
    
    background-size: 60px;
    border-radius: 80px 16px;
  } 
}
.vid__ul ul {
  display: flex;  
  flex-direction: column;
  li {
    width: 100%;    
    display: block;
    padding-left: 36px;
    position: relative;
    &:before {
      margin-bottom: 0;
      margin-right: 12px;
      position: absolute;
      left: 0;
      top: 0;
    }  
  }
}
.vid {
  padding-top: 15px;
}
.serv__item:before {
  width: 36px;
  height: 36px;
  right: 20px;
  bottom: 20px;
  top: auto;
  -webkit-background-size: 19px;
  -o-background-size: 19px;
  background-size: 19px;
  border-radius: 12px 6px
}
.gal-sl__slide:before {
  background-color: $tr;
}
.serv__item--all {
  order: 100;  
  font-size: 20px;
  flex-direction: row;
  margin-top: 14px;
  br {
    display: none;
  }
}
.serv__item--all:before {
  margin-bottom: 0;
  margin-right: 11px;
  width: 36px;
  height: 36px;  
  background-size: 36px;
}
.s-reviews,
.s-doctors {
  .all-more--arrows {    
    margin-right: 0;
  }
}

.all-more {
  font-size: 14px;
  white-space: nowrap;
}
.s-gal {
  .all-more {
    display: flex;    
    width: 167px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
  }
}

.doctors__sl .slick-track {
  padding-top: 0;
}
.promo__item .btn {
  min-width: 211px;
}
.rate__item {  
  flex-direction: column;
  padding: 25px;
  gap: 20px;
  height: 150px;
}
.rate__info span {
  font-size: 21px;
  padding-left: 31px;
  background-size: 25px;
}
.rate__info div {
  font-size: 21px;
}
.rev-sl__wrap {
  padding-top: 0;
}

.articl-doc__scroll {
  gap: 10px;
}
.doctor__card h1 {
  font-size: 24px;
  margin-bottom: 10px;  
}
.doctor__qualif {
  font-size: 18px;
  margin-bottom: 15px;
}
.doctor__txt {
  font-size: 14px;
  margin-bottom: 19px;
}

.doctor__exper {
  font-size: 14px;
  height: 30px;
  margin-bottom: 15px;
}
.doctor__conf {
  font-size: 14px;
  height: 30px;
}
.doctor__price-w {
  font-size: 14px;
  * {
    font-size: 14px;
  }
}
.doctor__fist-free:before {
  width: 20px;
  height: 20px;
  -webkit-background-size: 20px;
  -o-background-size: 20px;
  background-size: 20px;
}
.doctor__fist-free {
  padding-left: 26px;
}
.doctor__second,
.doctor__first-w {
  width: 100%;
  justify-content: space-between;
}
.doctor__price-w {
  margin-bottom: 26px;
  gap: 22px;
}
.doctor__btn-w {
  margin-bottom: 26px;
  gap: 10px;
  * {
    width: calc(50% - 5px);
    padding: 0 20px;
  }
}
.doctor__vid-play {
  top: 20px;
  right: 15px;
  width: 36px;
  height: 36px;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.about__block h2, .about__block .h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.about__block p {
  font-size: 14px;
}
.serv-doc__ul li a {
  padding: 10px 20px;
  height: auto;  
  border-radius: 18px;  
}
.educ-doc__row {
  align-items: flex-start;  
  flex-direction: column;
  gap: 10px;
}
.educ-doc__w {    
  gap: 15px;
}
.educ-doc__year {
  padding: 0 20px;
}
.certif {  
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  + .show-more {
    display: none;
  }
}
.certif__item {
  width: 360px;  
  flex: none;
  max-width: calc(100% - 15px);
}
.vid-with__sl {
  width: 730px;
  margin-left: -5px;
  margin-right: -5px;
  .slick-slide {
    padding: 0 5px;
  }
}
.rev-sl__wrap {
  .btn-o {
    margin-top: 24px;
    display: flex;
    max-width: 359px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.faq1__accordion-container .accordion-header {
  font-size: 26px;
  padding-right: 58px;
}
.content ol li, .accordion-content ol li,
.plus-minus__min, .plus-minus__pl, .plus-minus__crit, .import p, .uses__quote, .content thead td, .accordion-content thead td, .content tbody td, .accordion-content tbody td, .content td, .accordion-content td {
  font-size: 14px;
}
.author__art {
  width: 100%;  
  flex: none;
}
.author__w {  
  flex-wrap: wrap;
}
.author__inf {
  margin-left: 0;  
  flex-direction: row;
  gap: 15px;
}
.author__art {
  margin-bottom: 15px;
  text-align: left;
} 
.author__pubs {  
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.rev__effect-icon {
  width: 64px;
  height: 64px;  
  background-size: 36px;
}
.rev__effect {
  font-size: 14px;
}
.rev__effect-row {
  gap: 12px;
  margin-bottom: 20px;
}
.rev__effect-txt {
  font-size: 14px;
}
.leave-feed {
  padding: 26px 23px;
}
.leave-feed__txt {
  font-size: 14px;
}
.leave-feed__row {
  margin-bottom: 27px;
}
.rev {
  padding-bottom: 36px;
}
.news-blog__list {
  .vid-with__img-w {
    height: 203px;
  }
}
.news-blog__list,
.vid-with__item {
  gap: 15px;
}
.vid-with__item p {
  font-size: 16px;
}
.vid-with__img-w:before {
  width: 36px;
  height: 36px;
  -webkit-background-size: 36px;
  -o-background-size: 36px;
  background-size: 36px;
}
.get__h {
  font-size: 26px;
  margin-bottom: 20px;
}
.home-vis ul {
  columns: 1;
}
.home-vis {
  margin-top: 20px;
}
.news-list__page .s-news {
  padding-bottom: 0;
}
.text-page {
  padding-bottom: 64px;
}
.news-list__tabs {
  .tabs__list {
    width: 100%;
  }
  .tabs__list-item {    
    flex: 1 1 auto;
    padding: 0 16px;
  }
}
.s-photogal {
  .tabs__list {
   width: auto;
 }
}
.fam {
  padding: 20px;
}
.fam__txt {
  font-size: 16px;
}
.author__pubs-w .author__pubs {
  margin-top: 0;  
  flex-direction: column;
  .author__date,
  .author__publish {    
    background-size: 13px;
    font-size: 12px;
    
  }
  .author__publish {
    padding-left: 19px;
  }
}
.author__name {
  font-size: 14px;
}
.author__txt {
  font-size: 12px;
}
.author__art-w {
  margin-bottom: 9px;
  .author__art {
    margin-bottom: 0;
  }
}
.author__art {
  font-size: 12px;  
}
.author__w {
  padding: 20px;
}
.art-cont__title {
  margin-bottom: 24px;
}
.art-cont {
  padding: 20px;
}
.art-cont ul li a {
  font-size: 14px;
}
.content p {
  margin-bottom: 20px;
}
.content h2 {
  font-size: 20px;
}
.content p {

}
.content-content > img {
  height: 204px;
  margin-bottom: 20px;
}
}//640

@media (max-width : 575px) {
  .vid {
    .vid__l {
      padding-right: 15px;
    }
  }
  .head__logo {
    width: 32px;
    height: 32px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: unset;
      object-position: top left;
    }
  }
  .doctors-item__img-w {
    border-radius: 0px 0px 60px 16px;
    padding-top: 39px;
    .doctors-item__img {    
      border-radius: 60px 16px 60px 16px;
    }
  } 
  .news-list__page h1 {
    font-size: 24px;
  }
  .bread {
    margin: 15px 0;
    ul li {
      font-size: 10px;
      &:not(:last-child) {
        &:after {
          font-size: 10px;          
        }
      }
    }
  }
  .doctors-item__play {
    width: 36px;
    height: 36px;
    right: 15px;
    top: 15px;    
    background-size: 36px;
  }
  .doctors-item__cons {
    gap: 10px;
  }
  .free {
    font-size: 12px;
    padding-left: 26px;    
    background-size: 20px;
  }
  .doctors-item__dol {
    margin-bottom: 15px;
  }
  .doctors-item__bottom {  
    gap: 20px;
  }
  .doctors__btn {
    width: auto;
    padding: 0 50px;
    min-width: unset;
  }
  .promo__more {
    font-size: 14px;
  }
  .news-list__page h1 {    
    margin-bottom: 24px;
  }
  .doctors-list {
    margin-top: -18px;
  }
  .doctors-item__bottom {
    margin-top: 17px;
  }

  .s-articl-doc .articl-doc__item {
    max-width: calc(100% - 10px);
    
  }
  .articl-doc__img-w {    
    border-radius: 16px;
  }
  .articl-doc__title {
    font-size: 14px;
    min-height: auto;
    height: auto;
  }
  .articl-doc__txt {      
    display: none;
  }
  .articl-doc__date {
    font-size: 12px;
  }
  .anchors {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    ul {
      gap: 70px;
    }
  }
  .s-anchors .cpadding .anchors {

  }
  .when__item--last {
    font-size: 16px;
  }
  .faq1__accordion-container .accordion-header {
    font-size: 20px;
  }
  .import,
  .uses {
    padding: 30px;
  }
  .attention__txt {    
    align-items: flex-start;
  }
  .servi-pric__w {
    .all-more {
      font-size: 20px;
      display: flex;
      width: 235px;
      margin-left: auto;
      margin-right: auto;      
      justify-content: center;
      margin-top: 24px;
    }
  }
  .about-vid__desc p {
    font-size: 16px;
  }
  .s-sform__title-2 {
    font-size: 24px;
  }
  .sform-row__txt {
    font-size: 14px;
  }
  .sform__info-2 span {
    font-size: 12px;
  }
  .sform__info-2 .sform__info-tel {
    font-size: 20px;
  }
  .s-sform__row-2 button, .s-sform__row-2 input[type="submit"], .s-sform__row-2 input[type="text"] {
    height: 49px;
    border-radius: 16px;
    font-size: 12px;
  }
  .sform-row__info {
    font-size: 12px;
    padding-left: 0;
  }
  .s-org-det ul li {
    font-size: 14px;
  }
  .news-list__page, .s-reviews-page {
    padding-bottom: 64px;
  }
  .get-sl {
    border-radius: 80px 16px;
    width: 360px;
    height: 466px;
    overflow: hidden;
    position: relative;
    &:before {
      z-index: 2;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(../img/gal-popup-plus.svg) no-repeat center;
      background-size: 60px;
      border-radius: 80px 16px;
    }  
  }
  .get-img__sl {
    width: 730px;
    margin-left: -5px;
    margin-right: -5px;
    .slick-slide {
      padding: 0 5px;
    }
  }
  .get-img__sl {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  .get-tabs__list .tabs__list-item {
    padding: 4px 10px;
    white-space: pre-wrap;
    text-align: center;
    font-size: 12px;
  }
  .get__l {
    .btn-o {
      width: 100%;
    }
    
  }
  .get__ul-w ul li {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .contacts__card {
    .contacts__title {
      display: none;
    }
  }
  .contacts__txt {
    font-size: 12px;
  }
  .call-taxi {
    width: 100%;    
    justify-content: center;
  }
  .about__l ul li a {
    font-size: 14px;
  }
  .about__l {
    padding: 27px;
  }
  .servi-pric__r {
    .btn-o {
      display: none;
    }
  }
  .rev {
    .contain {
      padding: 0;
    }
  }
  .more-btn-ajax__w {
    margin-top: 24px;
  }
  .reviews-page__wrap {
    gap: 36px;
  }
  .reviews-page__list {
    gap: 15px;
  }
  .vac__item {
    padding: 23px 20px;
  }
  .vac__title {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .vac__sal {
    font-size: 12px;
    margin-bottom: 21px;
  }
  .vac__cond ul {
    font-size: 14px;
    margin-bottom: 36px;
    li {
      font-size: 14px;
    }
  }
  .vac__more {
    font-size: 12px;
  }
  .serch__w {
    margin-bottom: 23px;
  }
  .serch__w form input[type="submit"], .serch__w form button {
    width: 42px;    
    background-size: 26px;
  }
  .serch__w form input[type="submit"], .serch__w form button,
  .serch__w form input[type="tel"], .serch__w form input[type="password"], .serch__w form input[type="text"] {
    height: 42px;
  }
  .serch__w form {        
    border-radius: 16px;
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="text"] {
      font-size: 12px;
      padding-left: 14px;
      
    }
  }
  .alc-treat__serv {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .alc-treat__title {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .alc-treat__item p {
    font-size: 12px;
  }
  .alc-treat__item {
    padding-bottom: 20px;
  }
  .alc-treat__w {
    gap: 15px;
  }
  ul.spagin {
    gap: 11px;
    margin-top: 32px;    
    justify-content: center;
    li a {
      width: 48px;
      height: 48px;
      border-radius: 20px 8px;
      font-size: 14px;
    }
  } 
  ul.spagin li a.spagin-control {    
    background-size: 12px;
  }

  

  .mobile-table-original {
    display: none;
  }

  .mobile-table {
    border: 1px solid #edf1f8;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 24px;
  }

  .mobile-table__column {
    &:not(:first-child) {
      .mobile-table__title {
        border-top: 1px solid #fff;
      }
    }
  }

  .mobile-table__title {
    background: #91a9d5;
    padding: 11px 24px;
    font-size: 14px;
    line-height: 1.2;
  }

  .mobile-table__item {
    padding: 11px 24px;
    font-size: 14px;
    line-height: 1.2;

    &:nth-child(odd) {
      background: #f4f7fc;
    }
  }

}//575

@media (max-width : 480px) {
  .about-vid__desc p {
    font-size: 14px;
  }
  .s-articl-doc {
    .h2__w {
      h2 {
       max-width: 190px; 
     }
   }
 }
 .doctors__sl .doctors-item__img-w {
  padding-top: 38px;
}
.anchors ul {
  gap: 48px;  
}

.show-more,
.see-also__w a,
.distr__w a {
  font-size: 14px;
}
.s-anchors .cpadding .anchors {
  width: 630px;
}
.advants__w-2 {

}
.advants__w-2 .advants__item {  
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.attention._lg .attention__txt {
  font-size: 14px;
}
.promo__list .promo-item__img {
  height: 238px;
  aspect-ratio: unset;
}
.more-btn-ajax__w {
 .btn-o {
   width: 100%;
 } 
}
.news-list__page, .s-reviews-page {
  padding-bottom: 65px;
}
.promo-ful__info {
  font-size: 16px;
}
.content p {
  font-size: 14px;
}
.resp ul li {
  font-size: 14px;
}
.resp {
  h2,
  .h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.resp + .resp {
  margin-top: 24px;
}
.interest {
  border-radius: 16px 16px 80px 16px;
  padding: 32px 25px;
  padding-bottom: 57px;
  text-align: center;
}
.gal-list {
 display: flex; 
 flex-direction: column; 
}
.import, .uses {
  padding: 20px;
}
.uses__quote {
  margin-bottom: 20px;
}
.uses__quote {
 padding-top: 50px;
 background-size: 32px;
}
.uses__opin {
  font-size: 12px;
  margin-bottom: 9px;
}
.uses__name {
  font-size: 14px;
  margin-bottom: 7px;
}
.uses__spec {
  font-size: 12px;
}
.uses__doc {
  gap: 10px;
}
.uses {
  margin-bottom: 20px;
}
.import__title {
  font-size: 16px;
}
.content ol li:before, .accordion-content ol li:before {
  width: 32px;
  height: 32px;
  font-size: 14px;
}
.content ol li, .accordion-content ol li {
  padding-left: 42px;
}
.content ul.marker,
.content ul {
  li {
    font-size: 14px;
  }
}
.content ul.marker {
  padding-left: 0;
  
  li {    
    &:before {
      width: 24px;
      height: 24px;
      border-radius: 8px 4px;
      margin-right: 10px;
    }
  }
} 
.content ul.marker:not(:last-child) {
  margin-bottom: 20px;
}
.content blockquote {
  font-size: 14px;
  padding: 20px;
}

.import {
  margin: 20px 0;
}
ul.docs__list li a {
  font-size: 14px;
}
.text-page > p {
  font-size: 14px;
  margin-bottom: 17px;
}
}//480

@media (max-width : 375px) {
  .top-line__geo,
  .top-line__txt {
    font-size: 9px;
  }  
}//375

@media (max-width : 374px) {
  .advants__item p {
    font-size: 12px;
  }
  .f-col--4 {    
    flex-direction: column;
  }
  .f-col--4 {    
    .btn,
    .show-991 {
      width: 100%;
    }
  }
  .f-col--2 {    
    justify-content: space-between;
  }
  .f__info-adress {
    font-size: 12px;
  }
  .dev, .copy {
    font-size: 11px;
  }
  .top-line__tel {
    font-size: 12px;
  }
  .head__logo {

  }
  .vid-go, .vid-price {  
    background-size: 39px;
  }
  .s-articl-doc .h2__w h2 {

  }
}//374

@media only screen and (max-width : 360px) {
  body, body > * {
    width: auto;
    min-width: 360px;
  }
}