@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$ff2: 'Open Sans', sans-serif;


@import "_reset.scss";
@import "_media.scss";

:root {
  --main-blue: #3563a2;
  --main-blue-light: #8da6d6;
  --d9d9d9: #244b80;
  --black: #121820;        
  --font-family: "Nunito Sans", sans-serif;
  --second-family: "Onest", sans-serif;
  --third-family: "Nunito Sans 10pt", sans-serif;
  --font3: "Nunito", sans-serif;
  --font4: "Rubik", sans-serif;

}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  &.ohi {
    overflow: hidden;
  }
}

button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh; 
}

.hide-content {
  display: none;
}

.main {  
  flex-grow: 1;
}

h2,
.h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: rgb(11, 14, 18);
  margin-bottom: 50px;
}

/*modal*/

.modal-accept {
  margin-top: 26px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #8b9097;
  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--d9d9d9);
  }
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
  &_3 {

  }
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;
  min-height: 100px;
  border-radius: 120px 48px;
  width: calc(100% - 30px);
  max-width: 568px;  
  box-shadow: 0 34px 35px -19px rgba(19, 30, 43, 0.1);
  background: #fff;
  padding: 70px 60px 60px 60px;
  top: 80px;
  h3,
  .h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;    
    color: #121820;
    margin-bottom: 30px;
  }
  form {
    width: 100%;
    display: flex;    
    align-items: center;
    flex-direction: column;
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="text"] {
      width: 100%;
      background: #fff;
      border: 1px solid #3358a4;
      border-radius: 18px;
      padding: 12px 30px;      
      height: 60px;
      font-weight: 400;
      font-size: 16px;
      color: #000;
      margin-bottom: 20px;
      &:placeholder {
        color: #8b9097;
      }
    }
    textarea {
      width: 100%;
      background: #fff;
      border: 1px solid #3358a4;
      border-radius: 18px;
      font-weight: 400;
      font-size: 16px;
      color: #000;
      padding: 20px 30px;
      height: 133px;
      margin-bottom: 20px;
      &:placeholder {
        color: #8b9097;
      }
    }

    input[type="submit"] {
      @extend .btn;
      width: 100%;
      max-width: 348px;            
    }      
  }
}

.modal-form__inner {
  position: relative; text-align: center;
}

.thanks-modal__btn {
  max-width: 348px;
  width: 100%;
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;  
  background: url("../img/close-w.svg") no-repeat 0 0;
  width: 58px;
  height: 58px;
  right: -48px;
  top: -48px;
}

/*end modal*/



.btn,
.btn-o,
.btn-wh,
*[class$="__btn"] {  
  transition: 0.5s;
  &:hover {
    text-decoration: none;     
  }
}

input[type="email"],
input[type="tel"],
input[type="password"],
input[type="text"] {
  &:active,
  &:focus {
    background: rgba(255, 255, 255, 0.8);    
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-blue);
  border-radius: 18px;
  padding: 10px 30px;
  height: 60px;
  background: var(--d9d9d9);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: rgb(255, 255, 255);  
  @media (any-hover: hover) {
    &:hover {
      background: #335d97;
    }
  }
}

.btn-o {
  border: 1px solid var(--d9d9d9);
  border-radius: 18px;
  padding: 0px 30px;  
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: var(--main-blue);
  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background: var(--d9d9d9);
    }
  }
}

.btn-wh {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: var(--d9d9d9);
  background: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 0px 30px;  
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @media (any-hover: hover) {
    &:hover {
      background: #d7dff0;
    }
  }
}


.header {}

.top {
  padding: 30px 0;
}


.top__row {
  display: flex;
  border-bottom: 1px solid rgb(246, 246, 246);  
  align-items: center;
}

.head__logo {
  display: inline-flex;
  img {
    max-width: 100%;
    height: auto;
  }
}


.head__conts {
  display: flex;
  gap: 106px;
  margin-left: 96px;
  margin-right: 15px;
}

.head__phone-w {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.head__phone-txt {
  font-weight: 500;
  font-size: 14px;
  color: #121820;
}

.head__conts-phone {
  font-weight: 700;
  font-size: 24px;
  color: rgb(18, 24, 32);
  display: inline-flex;
}

.head__conts-addres {
  display: flex;
}

.head__addres {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(11, 14, 18);
  padding-left: 10px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: var(--main-blue-light);
    top: 50%;
    transform: translateY(-50%);
    left: 0;    
    border-radius: 1px;
    width: 1px;
    height: 34px;
  }  
}

.head__r {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.head__socs {
  display: flex;
  gap: 7px;
  a {
    display: inline-flex;
    width: 38px;
    height: 36px;
    flex: 0 0 auto;
  }
}

.head__btn-w {
  display: flex;
  gap: 14px;
  margin-left: 41px;
  .btn, .btn-o {
    padding: 0 35px;
  }
}


.btn__rec {

}

.btn__call {

}

.top__mnu {  
  padding-top: 25px;
}

.mn__ul {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    li {
      display: inline-flex;
      a {
        font-weight: 500;
        font-size: 20px;
        color: #121820;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}



.vid {
  padding-top: 57px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}



.vid__w {
  display: flex;
}

.vid__l {
  width: 48.7%;  
  flex: none;
  padding-top: 54px;  
  padding-bottom: 67px;
  position: relative;
  z-index: 2;
  h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    color: rgb(53, 99, 162);
    margin-bottom: 25px;
  }
}


.vid__txt {  
  font-size: 30px;
  line-height: 1.4;
  color: rgb(18, 24, 32);
  margin-bottom: 59px;
}

.vid__ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  li {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(18, 24, 32);
    &:before {
      content: "";    
      flex: none;
      display: block;
      background-image: url("../img/vid-check.svg");
      background-repeat: no-repeat;
      background-position: center center;
      width: 32px;
      height: 32px;
      display: inline-flex;
      margin-right: 20px;
    }
  }
}



.vid__btn-w {
  margin-top: 57px;
  display: flex;
  gap: 20px;  
}

.vid__btn-call {
  font-weight: 700;
  font-size: 20px;
  border-radius: 24px;
  height: 80px;  
  padding-left: 47px;
  padding-right: 47px;
}

.vid__btn-order {  
  border-radius: 24px;
  height: 80px;  
  font-weight: 700;
  font-size: 20px;
  color: rgb(36, 75, 128);
  padding-left: 44px;
  padding-right: 44px;
  &:before {
    content: "";
    width: 34px;
    height: 34px;
    background-image: url("../img/order-call.svg");
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    margin-right: 16px;
  }  
}

.vid__r {  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1 0 auto;
  max-width: 832px;
  margin-left: -100px;
  z-index: 1;
}

.vid__r-img {
  display: block;
  overflow: hidden;
  border-radius: 242px 0px 0px 36px;  
  position: absolute;
  top: 0;
  left: 0;    
  max-width: 975px;
}

.vid__play-btn {
  position: absolute;  
  border-radius: 39px;
  padding: 20px 53px;
  height: 110px;
  background: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  color: rgb(18, 24, 32);
  &:hover {
    text-decoration: none;
    color: var(--main-blue);
    &:before {
      background-image: url("../img/play-btn-hov.svg");  
    }
  }
  &:before {
    content: "";
    display: block;
    background-image: url("../img/play-btn.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 64px;
    height: 64px;
    margin-right: 15px;
  }
}

.section {
  padding: 65px 0;
  &:empty {
    padding: 0;
  }
}

.advants__w {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.item__1 {
  background-image: url("../img/bg-it-1.svg");  
  background-position: top;
}

.items__img {
  width: 61px;
  height: 61px;
  display: flex;
  align-items: center;    
  justify-content: center;  
  height: auto;
  flex: 0 0 auto;
  img {
    max-width: 100%;
    height: auto;
  }
}

.advants__item {
  border: 1px solid rgb(232, 237, 246);
  border-radius: 24px;
  min-height: 243px;
  padding: 30px;
  gap: 35px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: rgb(36, 75, 128);
    margin-bottom: 0;
  }
}

.item__2 {  
  background-image: url("../img/bg-it-2.svg");
  background-repeat: no-repeat;
  background-position: right 50px bottom;
}

.item__3 {
  background-image: url("../img/bg-it-3.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

.item__4 {  
  background-image: url("../img/bg-it-4.svg");
  background-repeat: no-repeat;
  background-position: right 0px bottom;
}


.serv {
  padding-top: 65px;
  padding-bottom: 65px;
}

.serv__w {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.serv__item {
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 120px 24px 24px;  
  min-height: 390px;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 30px;
  background-color: #3b5f9d;
  position: relative;
  overflow: hidden;
  @media (any-hover: hover) {
    &:hover {
      img {
        opacity: 0;
      }
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;    
    transition: 0.5s;
  }

  &:nth-child(2),  
  &:nth-child(3),  
  &:nth-child(5),  
  &:nth-child(8) {
    border-radius: 24px 24px 120px 24px;
  }  
  &:nth-child(3),   
  &:nth-child(4),   
  &:nth-child(5),   
  &:nth-child(7) {
    background-color: #e7edfa;
    .serv__name,
    .serv__price {
      color: #121820;
    }
  }   
}

.serv__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

.serv__price {
  font-size: 20px;
  color: rgb(255, 255, 255);
}



.s-mabout {
}

.mabout__w {
  background-image: url("../img/rem-bg.png");
  background-repeat: no-repeat;
  background-position: top -25px left -25px;
  background-color: #e8edf6;
  border-radius: 242px 36px;  
  padding: 87px 80px 95px;  
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
  
}

.mabout__img {
  border-radius: 160px 24px 120px;
  width: 35.59%;
  aspect-ratio: 1 / 1;
  width: 530px;
  height: auto;
  overflow: hidden;
  flex: 0 0 auto;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.mabout__cont {  
  flex: 1 1 auto;
  .h2,
  h2 {
    margin-bottom: 24px;
  }
}

.mabout__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: rgb(11, 14, 18);
  margin-bottom: 24px;
}

.mabout__txt {
  font-size: 20px;
  line-height: 2;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.mabout__more {
  font-weight: 700;
  font-size: 18px;
  color: #244b80;
}



.s-why {

}



.why__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.why__item {
  background: rgb(232, 237, 246);
  border-radius: 24px;
  min-height: 320px;
  padding: 30px 30px 18px;
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(7) {
    background: var(--main-blue);
    .why__title,
    .why__txt {
      color: #FFF;
    }
  }
  
}

.why__icon {
  height: 61px;
  margin-bottom: 26px;
  display: flex;  
  align-items: center;
  img {
    max-width: 100%;
    height: auto;
  }
}


.why__title {
  font-weight: 600;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-bottom: 16px;
}

.why__txt {
  font-size: 16px;
  line-height: 1.4;
  color: rgb(18, 24, 32);
}






.s-sform {
  padding-top: 65px;
  padding-bottom: 65px;
}

.contain {
}

.s-sform__bg {
  margin-top: 94px;
  background: var(--main-blue);
  border-radius: 36px 36px 242px;
  width: 1650px;
  min-height: 402px;
  display: flex;
  padding: 60px 0px 0px 80px;
}

.s-sform__content {
  margin-right: 88px;
  padding-bottom: 60px;
}

.s-sform__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}

.s-sform__geo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}

.s-sform__form-w {
  padding-left: 0px;
  width: 310px;
  flex: 0 0 auto;
  padding-bottom: 60px;
  form {
    width: 100%;
    margin-bottom: 26px;
  }
  
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="text"] {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 18px;
    padding: 10px 30px;
    height: 60px;
    width: 100%;
    font-size: 18px;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    margin-bottom: 27px;
  }

  button,
  input[type="submit"] {
    padding: 10px 30px;
    width: 100%;
    @extend .btn-wh;    
  }
}

.sform__info {
  margin-bottom: 58px;
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
  }
}


.sform__info-tel {
  font-weight: 700;
  font-size: 32px;
  line-height: 0.9;
  color: rgb(255, 255, 255);
}


.s-sform__img {
  width: 643px;
  flex: 0 0 auto;
  position: relative;
  img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 100%;
  }
}

.s-doctors {
  padding-top: 65px;
  padding-bottom: 65px;
}

.contain {
}

.h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: rgb(11, 14, 18);
  margin-bottom: 50px;
}

.doctors__sl {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  .slick-slide {
    padding: 0 15px;
  }
  .slick-track {
    padding-top: 55px;
  }

}

.slick-arrow {
  position: absolute;
  z-index: 12;  
  border: none;
  background: none;
  font-size: 0;    
  background: url("../img/slick-arr.svg") no-repeat center;
  background-color: var(--main-blue-light);
  top: -100px;
  right: 0;
  border-radius: 20px 8px;
  width: 60px;
  height: 60px;  
  transition: 0.33s;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--main-blue);
    }
  }
  li {
    button {
      padding: 0;        
      border: none;
    }
  }
}

.slick-prev {
  transform: translateX(-72px);  
}

.slick-inactive {  
  background-color: #d7dff0;
  
}

.slick-next {
  transform: rotate(180deg);
}

.doctors__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.doctors-item__img {
  border-radius: 129px 24px;
  width: 100%;
  height: 317px;
  background: rgb(232, 237, 246);
  margin-bottom: 23px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  img {
    position: absolute;
    max-width: 530px;
  }
}


.doctors-item__opyt {
  border-radius: 6px;
  padding: 0px 10px;
  height: 32px;
  position: absolute;
  left: 26px;
  bottom: 29px;
  z-index: 2;
  background: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  color: rgb(30, 30, 29);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.doctors-item__play {
  width: 48px;
  height: 48px;
  background-image: url("../img/play-doc.svg");
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.w-a {
}

.doctors-item__name {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black);
  margin-bottom: 16px;
}

.doctors-item__dol {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(43, 48, 55);
  margin-bottom: 30px;
}

.doctors-item__cons {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: var(--d9d9d9);
}

.doctors__btn {    
  min-width: 250px;
  margin-top: 40px;
}



.s-how {
}

.subtitle {
  margin-top: -20px;
  font-size: 26px;
  line-height: 1.4;
  text-align: center;
  color: var(--black);
}

.how__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
  counter-reset: step-counter;
}

.how__item {
 counter-increment: step-counter;
}

.how__img {
  border-radius: 120px 24px;
  height: 282px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.how__title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.4;
  color: var(--black);
  margin-bottom: 11px;
  &:before {
    content: "";    
    background: var(--main-blue);
    border-radius: 20px 8px;
    width: 49px;
    height: 49px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    flex: 0 0 auto;
    margin-right: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    content: counter(step-counter) ". ";    
  }
}


.how__text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--black);
}

.how-contacts {
  background: var(--main-blue);
  border-radius: 24px 24px 120px;
  width: 530px;
  min-height: 473px;
  padding: 50px 60px 51px;
  form {
    width: 100%;
    margin-bottom: 26px;        
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="text"] {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 18px;
      padding: 10px 30px;
      height: 60px;
      width: 100%;
      font-size: 18px;
      line-height: 1.2;
      color: rgb(255, 255, 255);
      background: none;
      &:active,
      &:focus {
        outline: 1px solid #fff;
      }
      &::placeholder {
        color: #FFF;
      }
    }
    button,
    input[type="submit"] {
      @extend .btn-wh;
      width: 100%;
      margin-top: 25px;
    }
  }
}

.how-contacts__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.4;
  color: rgb(255, 255, 255);
  margin-bottom: 26px;
}

.how-contacts__info {
  margin-bottom: 30px;
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
  }
}

.how-contacts__info-tel {
  font-weight: 700;
  font-size: 32px;
  line-height: 0.9;
  color: rgb(255, 255, 255);
}



.s-promo {

}

.promo__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.promo__item {
  .btn {  
    min-width: 250px;
  }
}

.promo-item__img {
  height: 372px;
  display: flex;  
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 30px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background: var(--main-blue-light);
  img {
    max-width: 100%;
    position: relative;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url("../img/promo-bg.svg") no-repeat center;
    opacity: 0.25;
  }  
}


.promo-item__link {
  margin-bottom: 14px;
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: var(--black);
}

.promo-item__date {
  padding-left: 40px;
  min-height: 26px;
  background-image: url("../img/promo-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: rgb(43, 48, 55);
  margin-bottom: 30px;
}


.s-smap {
  height: 485px;
  overflow: hidden;
  position: relative;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  margin-top: 65px;
}

.smap__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.smap__inn {
  display: flex;
  justify-content: flex-end;
}

.smap-contacts {
  border-radius: 24px 24px 120px;
  width: 390px;
  min-height: 259px;
  margin-right: 198px;
  background: rgb(255, 255, 255);
  padding: 28px 28px 28px 30px;
}

.smap-contacts__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black);
  margin-bottom: 24px;
}

.fc__info {
  margin-bottom: 31px;
  p {
    font-size: 18px;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
  }
}


.fc__info-tel {
  font-size: 18px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-weight: 700;
}




.s-reviews {
}



.rev-sl {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 30px;
  width: 130%;
  margin-left: -15%;
  .slick-list {
    padding: 0 !important;
  }
  .slick-slide {
    padding: 0 15px;
  }
  .slick-arrow {
    top: -158px;
    right: calc((100% - 1650px)/2;
  }
}

.rev-sl__wrap {
  position: relative;
  padding: 50px 0 42px 0;
  &:before {
    content: "";
    display: block;
    background-image: url("../img/reviews-bg.svg");
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 0px 242px 36px 0px;
    width: 1503px;
    height: 438px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;
  }
}


.rev-sl__slide {
  background: rgb(232, 237, 246);
  border-radius: 24px;
  width: 810px;
  min-height: 346px;
  padding: 40px 40px 44px;
  position: relative;
  display: flex !important;
  flex-direction: column;
}

.rev-sl__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.rev-sl__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0e12;
}

.rev-sl__date {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(43, 48, 55);
}

.rev-sl__text {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(11, 14, 18);  
  margin-bottom: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  box-orient: vertical;
  &.more {
    overflow: visible;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    box-orient: unset;
  }
}

.rev-sl__bot {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rev-sl__more {
  font-weight: 700;
  font-size: 16px;
  color: var(--main-blue);
}

.rev-sl__about {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(11, 14, 18);
}

.rev-sl__doctor {
  font-weight: 700;
  color: var(--main-blue);
  line-height: 1.5;
}

.rev-sl__audio-wrap {
  margin: auto 0;
  background: #fff;
  border-radius: 74px;
  height: 70px;
}

.s-lic {
}

.lic-sl {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 34px;  
  justify-content: center;  
  align-items: center;
  > a {
    display: inline-flex;    
    align-items: center;
    position: relative;
    width: 287px;
    height: 419px;    
    flex: none;
    &:nth-child(2) {
      width: 358px;
      height: 503px;
    }    
    @media (any-hover: hover) {
      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
    &:before {
      z-index: 2;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;        
      transition: 0.8s;
      opacity: 0;
      background: rgba(#000, 0.3) url("../img/gal-popup-plus.svg") no-repeat center;
    } 
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.lic-sl__slide {
  width: 358px;
  display: flex;
  height: 503px;
}

.lic-sl__slide-img {
  max-width: 100%;
}


.accordion-content {
  display: none;
  &.open-content {
    display: block;
  }
}

.accordion-item {
  cursor: pointer;  
  border-top: 1px solid #e8edf6;
  padding: 30px;  
  width: 100% !important;  
  &:last-child {
    border-bottom: 1px solid #e8edf6;
  }
}

.faq__accordion-container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}


.accordion-header {
  font-weight: 400;
  font-size: 18px;
  color: #121820;
  position: relative;
  &:before {
    position: absolute;
    top: 15px;
    right: 0;  
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 24px;
    height: 24px;
    flex: none;
    background: url("../img/faq-plus.svg") no-repeat center;
    opacity: 0.4;    
    transition: 0.33s;
  }
  &.active-header {
    &:before {
      opacity: 1;
    }
  } 
}

.accordion-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #121820;
  padding-top: 0;  
  transition: 0.33s;
  &.open-content {
    padding-top: 30px;
  }
  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}


.s-gal {
  margin-bottom: 135px; 
}

.gal__wrap {
  display: flex;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1354px;
    height: 782px;
    background: url("../img/gal-bg.svg") no-repeat right center;
  }  
}


.gal-sl {
  display: flex;
  margin-left: -22%;
  width: 145%;    
  flex: none;   
  .slick-list {

  }
  .slick-slide {
    padding: 0 85px;
    &.slick-center {
      img {
        max-width: unset;
        width: 135%;
      }
      .gal-sl__slide::before {
        width: 135%;
        height: 135%;        
      }
    }
  }
  .slick-track {
    padding: 70px 0;
  }
  .slick-arrow {    
    top: calc(50% - 30px);
    z-index: 15;   
    background-image: url('../img/slide-arr-blu.svg');
    background-color: #FFF; 
    @media (any-hover: hover) {
      &:hover {
        background-color: #e8edf6;
      }
    }
  }
  .slick-prev {
    left: 496px;
    right: auto;
    transform: unset;
  }
  .slick-next {
    left: auto;
    right: 496px;    
  }
}

.gal-sl__slide {
  position: relative;
  display: flex !important;  
  align-items: center;
  justify-content: center;
  aspect-ratio: 1.784 / 1;  
  position: relative;
  &:before {
    z-index: 2;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;        
    transition: 0.8s;
    opacity: 0;
    background: rgba(#000, 0.3) url("../img/gal-popup-plus.svg") no-repeat center;
  }  
  @media (any-hover: hover) {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  img {
    position: absolute;    
    max-width: 100%;
    height: auto;
    width: 100%;  
    transition: 1.2s;
    overflow: hidden;
    display: block;
  }

  img,
  &:before {
    border-radius: 120px 24px;
  }
}




//2000

@import "_footer";
@import "_after-styless";

header,
footer,
section:not(.s-gal) {

}

.w100 {
  width: 100%;
}

.center {
  text-align: center;
}

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top -10px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    
}